.header {
    background:#3f51b5;
    color:#fff;
    padding: 1rem .8rem;
}

.formularioContactos {
    display: flex;
    padding:.5rem;
}

.formularioContactos__input {
    width:100%;
    padding:.9rem;
}

.listaContacto__item {
    padding:1.2rem 1rem;
    font-size:1.2rem;
}
