* {box-sizing:border-box} 

body {
    margin:0;
}

h1, h2, h3, h4, h5, h6 {
    margin:0;
}

ul {
    list-style:none;
    margin-top:0;
    margin-bottom: 0;
    padding-left:0;
}

#root {
    width:80%;
    max-width:900px;
    margin-left:auto;
    margin-right: auto;
    box-shadow: 0 2px 10px hsla(0,0%,54.5%,.25);
}
